.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color:rgb(30, 30, 32);
  color: #b3b3b3;
}

.colors{
  color: #5f1d1d;
  color: #30336b;
  color: #81ecec;
  color: #6c5ce7;
  color: #EFB549;
  color: #2d3436;
  color: #26de81;
  color: #a55eea;
  color: #b3b3b3;
  color: #f0932b;
  color: #0190FF;
  color: #00b894;
  color: #fed330;
  color: #a29bfe;
  color: #74b9ff;
  color: #ffeaa7;
  color: #4f4a71;
  color: #FF0069;
  color: transparent;
  color: #373737;
}